[submodule "WBConfig"]
	path = WBConfig
	url = /Users/jddupas/Projects/Shared/WBConfig
[submodule "WonderBox"]
	path = WonderBox
	url = /Users/jddupas/Projects/Shared/WonderBox
[submodule "SArchiveKit"]
	path = SArchiveKit
	url = /Users/jddupas/Projects/Shared/SArchiveKit
