[submodule "hadron"]
	path = hadron
	url = git@github.com:Jean-Daniel/hadron.git
[submodule "WonderBox"]
	path = WonderBox
	url = git@github.com:Jean-Daniel/WonderBox.git
[submodule "Sparkle"]
	path = Sparkle
	url = git@github.com:Jean-Daniel/Sparkle.git
[submodule "SArchiveKit"]
	path = SArchiveKit
	url = ../Free/SArchiveKit
[submodule "HotKeyToolKit"]
	path = HotKeyToolKit
	url = git@github.com:Jean-Daniel/HotKeyToolKit.git
