[submodule "WBConfig"]
	path = WBConfig
	url = ../../Free/WBConfig
[submodule "WonderBox"]
	path = WonderBox
	url = ../../Free/WonderBox
[submodule "SArchiveKit"]
	path = SArchiveKit
	url = ../../Free/SArchiveKit
