<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>TextAction</string>
	<key>CFBundleIdentifier</key>
	<string>org.shadowlab.spark.Text</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>Sprk</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0a1</string>
	<key>NSMainNibFile</key>
	<string>TextPlugin</string>
	<key>NSPrincipalClass</key>
	<string>TextActionPlugIn</string>
	<key>SparkActionClass</key>
	<string>TextAction</string>
	<key>SparkPluginIcon</key>
	<string>TextIcon</string>
    <key>SparkHelpFile</key>
    <string>TextActionHelp</string>
</dict>
</plist>
