<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>splist</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Splist</string>
			<key>CFBundleTypeName</key>
			<string>SparkListFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SpLi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.shadowlab.spark.list</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>splib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Splib</string>
			<key>CFBundleTypeName</key>
			<string>SparkLibraryFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLib</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.shadowlab.spark.library</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spact</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Spact</string>
			<key>CFBundleTypeName</key>
			<string>SparkActionPlugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BNDL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.shadowlab.spark.action</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Spark</string>
	<key>CFBundleIdentifier</key>
	<string>org.shadowlab.SparkEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>Sprk</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.3</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SparkEditor</string>
	<key>OSAScriptingDefinition</key>
	<string>SparkSuite.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SparkLibrary</string>
			<key>UTTypeIconFile</key>
			<string>Splib</string>
			<key>UTTypeIdentifier</key>
			<string>org.shadowlab.spark.library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>splib</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SparkAction</string>
			<key>UTTypeIconFile</key>
			<string>Spact</string>
			<key>UTTypeIdentifier</key>
			<string>org.shadowlab.spark.action</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>spact</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SparkList</string>
			<key>UTTypeIconFile</key>
			<string>Splist</string>
			<key>UTTypeIdentifier</key>
			<string>org.shadowlab.spark.list</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SpLi</string>
				<key>public.filename-extension</key>
				<string>splist</string>
				<key>public.mime-type</key>
				<string>text/xml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
