<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>splist</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ListFile</string>
			<key>CFBundleTypeName</key>
			<string>SparkListFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SpLi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>splib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LibraryFile</string>
			<key>CFBundleTypeName</key>
			<string>SparkLibraryFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLib</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spact</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Plugin</string>
			<key>CFBundleTypeName</key>
			<string>SparkActionPlugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BNDL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Spark</string>
	<key>CFBundleIconFile</key>
	<string>Spark</string>
	<key>CFBundleIdentifier</key>
	<string>org.shadowlab.Spark</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Sprk</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.3</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
