PREBINDING = YES
DEAD_CODE_STRIPPING = NO
MACOSX_DEPLOYMENT_TARGET = 10.3
GCC_ENABLE_OBJC_EXCEPTIONS = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
ZERO_LINK = YES
COPY_PHASE_STRIP = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG
WARNING_CFLAGS = -Wmost
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES 
GCC_PREFIX_HEADER = Shadow-Cocoa.pch
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
SHARED_PRECOMPS_DIR = $(OBJROOT)/SharedPrecompiledHeaders
