PREBINDING = YES
DEAD_CODE_STRIPPING = YES
DEPLOYMENT_POSTPROCESSING = YES
MACOSX_DEPLOYMENT_TARGET = 10.3
GCC_ENABLE_OBJC_EXCEPTIONS = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
ZERO_LINK = NO
COPY_PHASE_STRIP = YES
GCC_OPTIMIZATION_LEVEL = 2
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS PRODUCTION
WARNING_CFLAGS = -Wmost
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Shadow-Cocoa.pch
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
SHARED_PRECOMPS_DIR = $(OBJROOT)/SharedPrecompiledHeaders
