a { color: #2562a2; }

#hmenu { list-style: none; font-size: 10pt; text-align: center; background-color: #e0e0e0; padding: 4px;
border-width: 1px 0 1px 0; border-style: solid; border-color: #666666;}

#hmenu a { color: #333333; font-weight: normal; text-decoration: none}
#hmenu li { display: inline; padding: 4px 6px 4px 6px; margin-left: 8px; margin-right: 8px; font-weight: bold; }

#hmenu li:hover { background-color: #bfbfbf; padding: 4px 5px 4px 5px; 
border-width: 0px 1px 0px 1px; border-style: solid; border-color: #666666 }


h1 { white-space: nowrap; }
ul, li { white-space: nowrap; }

dt { font-weight: bold; margin-top: 8px; }

code {
	font-family:  monospace;
	font-size: 10pt;
	white-space: pre;
}

.chapter {
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}

.text, .answer {
	font-size: 13px;
	text-align: justify;
}
.answer {
	text-indent: 2em;
}

.copyright {
	font-family: "Apple Chancery", "Lucida Calligraphy", "lucida Grande", "serif";
	font-size: 10px;
	font-style: italic;
	white-space: nowrap;
}